{% extends 'base.html.twig' %}

{% block title %}Revue Fluvial: Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Création de compte</h1>

    <p>Créez votre compte pour plonger ou replonger dans 10 ans de publication du magazine Fluvial. Avec ce compte, vous
        aurez un accès gratuit du numéro 226 (octobre 2012) au numéro 319 (février 2022). Notre équipe travaille
        actuellement sur les numéros les plus anciens que nous n'avons que partiellement. Si vous possédez des anciens
        numéros de Fluvial, n'hésitez pas à nous contacter à l'adresse suivante : <a
                href="mailto:contact.fluvialnet@gmail.com">contact.fluvialnet@gmail.com</a></p>

    <p>Si vous souhaitez crèer un compte pour publier ou repondre à une petite annonce, <a href="/submit-listing/"> c'est par ici ➤</a></p>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="form-row row p-2">
        {{ form_label(registrationForm.email, "Votre email : ", { 'label_attr': {'class': 'align-text col-md-4 col-lg-3 col-form-label'} }) }}
        <div class="col-md-8 col-lg-6">
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <small>{{ form_help(registrationForm.email) }}</small>
        <div class="form-error">
            {{ form_errors(registrationForm.email) }}
        </div>
    </div>

    <div class="form-row row p-2">
        {{ form_label(registrationForm.surname, "Votre prénom : ", { 'label_attr': {'class': 'align-text col-md-4 col-lg-3 col-form-label'} }) }}
        <div class="col-md-8 col-lg-6">
            {{ form_widget(registrationForm.surname, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <small>{{ form_help(registrationForm.surname) }}</small>
        <div class="form-error">
            {{ form_errors(registrationForm.surname) }}
        </div>
    </div>

    <div class="form-row row p-2">
        {{ form_label(registrationForm.name, "Votre nom : ", { 'label_attr': {'class': 'align-text col-md-4 col-lg-3 col-form-label'} }) }}
        <div class="col-md-8 col-lg-6">
            {{ form_widget(registrationForm.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <small>{{ form_help(registrationForm.name) }}</small>
        <div class="form-error">
            {{ form_errors(registrationForm.name) }}
        </div>
    </div>


    <div class="form-row row p-2">
        {{ form_label(registrationForm.plainPassword.first, "Votre mot de passe : ", { 'label_attr': {'class': 'align-text col-md-4 col-lg-3 col-form-label'} }) }}
        <div class="col-md-8 col-lg-6">
            {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <small>{{ form_help(registrationForm.plainPassword.first) }}</small>
        <div class="form-error">
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>
    </div>

    <div class="form-row row p-2">
        {{ form_label(registrationForm.plainPassword.second, "Votre mot de passe à nouveau : ", { 'label_attr': {'class': 'align-text col-md-4 col-lg-3 col-form-label'} }) }}
        <div class="col-md-8 col-lg-6">
            {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <small>{{ form_help(registrationForm.plainPassword.second) }}</small>
        <div class="form-error">
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>
    </div>

    <div class="form-row row p-2">
        <div class="col-1">
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>
        {{ form_label(registrationForm.agreeTerms, null , { 'label_attr': {'class': 'col-11 align-text'} }) }}

        <small>{{ form_help(registrationForm.agreeTerms) }}</small>
        <div class="form-error">
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    </div>
    <div class="form-row p-2 text-center">
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
