<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('compte/assets/favicon.ico') }}" type="image/x-icon">

    <title>{% block title %}Fluvial Collector{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('compte/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('compte/css/customGlobal.css') }}" rel="stylesheet">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            let f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NFZX895G');</script>
    <!-- End Google Tag Manager -->

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NFZX895G"
            height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% include('navbar.html.twig') %}

<!-- Page Content -->
<div class="container my-3">

    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <strong>Superbe !</strong> {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <strong>Oops !</strong> {{ flash_message }}
                </div>
            {% endfor %}
        </div>
    </div>

    <br/>

    <div id="body" class="row">
        <div class="col-md-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<!-- /.container -->


<div id="footer" class="container-fluid bg-blue">
    {% include('footer.html.twig') %}
</div>
<script src="{{ asset('compte/js/bootstrap.min.js') }}"></script>
</body>
</html>